{% extends "farm_market/index.html" %}
{% block title %}Password Reset{% endblock title %}
{% block maincontent %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header text-center bg-primary text-white">
                    <h3 class="mb-0">Reset Your Password</h3>
                    <p class="mb-0">Enter your email to receive reset instructions</p>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100 py-2">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}
